.playerTiles {
  /* position: absolute;
  right: 50%;
  left: 50%; */
  display: grid;
  
  grid-gap: 5px;
  background-color:gray;
  width: 385px;
  height: 385px;
  grid-template-columns: 43px 43px 43px 43px 43px 43px 43px 43px;
  grid-template-rows: 43px 43px 43px 43px 43px 43px 43px 43px; 
  padding: 10px;
  margin: 0 auto;
}

.innerTile {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  width: 40px;
  height: 40px; 
  margin: 5px;
}

.gameInfoBox, .headerInfoBox{
  display:flex;
  position: 0 auto;
  justify-content: center;
}
.split {
  display:flex;
  justify-content: center;
}
.scoreBoardBox {
  display:flex;
  width: 200px;
}
.resetBoardBox {
  background-color: green
} 
/* .restartButton {

} */
#a8,#c8,#e8,#g8, 
#b7,#d7,#f7,#h7,
#a6,#c6,#e6,#g6, 
#b5,#d5,#f5,#h5,
#a4,#c4,#e4,#g4, 
#b3,#d3,#f3,#h3,
#a2,#c2,#e2,#g2, 
#b1,#d1,#f1,#h1{
  background-color: white
}

#b8,#d8,#f8,#h8,
#a7,#c7,#e7,#g7,
#b6,#d6,#f6,#h6,
#a5,#c5,#e5,#g5, 
#b4,#d4,#f4,#h4,
#a3,#c3,#e3,#g3, 
#b2,#d2,#f2,#h2,
#a1,#c1,#e1,#g1
{
  background-color:goldenrod;
}

