#game-board {
  display: grid;
  grid-template-columns: repeat(8, 40px);
  grid-template-rows: repeat(8, 40px);
  direction: ltr;
  justify-content: center;
  height: 320px;
  width: 320px;
  border-style: solid;
  border-color: black;
  margin: auto;
  background-color: burlywood;
  }
.innerTile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px; 
} 
  
.dark {
  background-color: burlywood;
}
.light {
  background-color: lightblue;
}

.gameInfoBox, .headerInfoBox, .rulesNavBox{
  display:flex;
  position: 0 auto;
  justify-content: center;
}
.split {
  display:flex;
  justify-content: center;
}
.scoreBoardBox {
  display:flex;
  width: 200px;
}
.blackToken {
    background-color:black;
    height: 40px;
    width: 40px;
    border-radius: 40px;
}
.redToken {
  background-color: red;
  height: 40px;
  width: 40px;
  border-radius: 40px;
}
.highlight {
  background-color: yellow;
}